
body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.masthead {
    background-image: url('../img/img_selena.jpg');
  }
  p,li {
    font-size: 1em;
  }
  .rare-song {
      color: rgb(226, 43, 58);
  }
  .rare-song1 {
    color: rgb(226, 43, 58);
  }